<h1>Blog Entry # <%= @post.id %> </h1>

<div class="container">
    <div class="container">
        <h3> " <%= @post.title %> "</h1>

        <div class="container">
            <ul>
                <li>Body: <%= @post.body %> </li>
                <li>Feeling: <%= @post.feeling %> </li>
            </ul>
        </div>
        <h6><a href="/"> Back to Blog Index </a> </h3>

 
</div>